:root {
    ---main-background: linear-gradient(to left, rgb(134, 4, 247), rgb(251, 158, 243));
    --rainbow: linear-gradient(to left, violet, indigo, blue, green, rgb(229, 229, 11), orange, red);
}

body {
    background: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#main-div {
    min-width: 300px;
    width: max-content;
}

.darkMode {
    display: flex;
    justify-content: flex-end;
}

#dark-mode-icon {
    font-size: 20px;
    margin: 0 5px;
    cursor: pointer;
}

/* TITLE */
#main-div>h1 {
    width: 70%;
    margin-bottom: 17px;
    margin-left: 25%;
    margin-top: 0;
    font-size: 30px;
    background: var(--rainbow);

    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px black;
    -webkit-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 
    cursor: default;
}

/* START -- MAIN BUTTON */
#main_button {
    width: 110%;
    font-size: 15px;
    padding: 15px;
    margin-left: -5%;
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    color: black;
    display: block;
    border: 0px;
    font-weight: 600;
    
    background-image: var(--rainbow);
    
    opacity: 90%;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

#main_button:hover {
    background-position: right center;
    text-decoration: none;
    color: white;
    -webkit-text-stroke: 0.7px black;
}
/* END -- MAIN BUTTON */


#main-button-div{
    text-align: center;
    font-weight: 700;
}

/* START -- FOUND COLOR CODES */
#color-code {
    list-style: none;
    grid-gap: 10px;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
}

#color-code>li {
    cursor: pointer;
    text-align: center;
    padding: 2px 5px;
    font-weight: bolder;
    font-size: 15px;
    border-radius: 5px;
}

.li-light-mode {
    text-shadow: 0.8px 0.8px 0 #fff, -0.8px -0.8px 0 #fff, 0.8px -0.8px 0 #fff, -0.8px 0.8px 0 #fff;
}
  
.li-dark-mode {
    text-shadow: 0.8px 0.8px 0 #000, -0.8px -0.8px 0 #000, 0.8px -0.8px 0 #000, -0.8px 0.8px 0 #000;
}
/* END -- FOUND COLOR CODES */

.errorLabel {
    font-weight: bold;
    padding: 5px;
    text-align: center;
    margin: 0;
    margin-top: 10px;
    font-size: 14px;
    border-radius: 10px;
}
